/*Import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');

:root{
--roboto: "Roboto", sans-sarif;
 }
.font-roboto{
    font-family: var(--roboto);
 }
html{
    scroll-behavior: smooth;
 }
body {
    height: 100%;
    font-family: var(--roboto);
    /* background-color: #FFDEAD; */
 }
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
.card{
  width: auto;
}
.front.row{
  margin-bottom: 40px;
}
.single.row{
  margin-top: 20px;
}

/* Carousel base class */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem; 
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

@media all and (min-width: 992px) {
	.navbar{ padding-top: 0; padding-bottom: 0; }
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
	.navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}

 @media all and (min-width:991px) {  
  .dropdown:after{
      content: ''; 
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity .15s ease-in-out;
      opacity: 0;
      visibility:hidden;
      background-color: rgba(0,0,0,.7);
      pointer-events: none;
  }

  .dropdown.show .nav-link{
  position:relative;
  z-index:12;
  }
  .dropdown.show:after{
  z-index:10; opacity:1; 
  visibility:visible;
  position: fixed;
  }
}

.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #b48f7d;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}


#myCarousel h4{
	font-size:40px;
	margin-bottom:15px;
	color:#FFF;
	line-height:100%;
	letter-spacing:0.5px;
	font-weight:600;
}
#myCarousel p{
	font-size:18px;
	margin-bottom:15px;
	color:#d5d5d5;
}
#myCarousel .carousel-item a{font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }

#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#myCarousel .carousel-item{height:100%; min-height:550px; }
#myCarousel{position:relative; z-index:1;
   background-color: #343a40 !important;
  }
   

.carousel-control-next, .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); }


.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


 
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.blog .carousel-indicators {
	left: 0;
	top: auto;
  bottom: 160px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
}

.blog .carousel-indicators .active {
background: #707070;
}
.cover-card {
	border: 2px solid white;
	background: silver;
	padding: 0px;
	margin: 0px;
	height:200px;
}
.cover-card > p {
	text-align: center;
	background-color: rgba(6,6,6,0.0);
	color: rgba(6,6,6,0.0);
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-size: 20px;
}
.cover-card:hover > p {
	background-color: rgba(6,6,6,0.3);
	color: white;
	text-shadow: 3px 3px 10px #000;
}

.hem-barra-busqueda{
  margin-bottom: auto; 
  margin-top: auto;
  height: 50px;
  background-color: #343a40 !important;
  border-radius: 10px;
  padding: 10px;
  }

  .hem-search-input{
  /* color: #b48f7d  !important; */
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .hem-barra-busqueda:hover > .hem-search-input{
  padding: 0 10px;
  width: 600px;
  caret-color:#b48f7d  !important;
  transition: width 0.4s linear;
  }

  .hem-barra-busqueda:hover > .hem-search-icon{
  background: #ffffff  !important;
  color: #343a40 !important;
  }

  .hem-search-icon{
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  }

  #logo-brand{
    height:190px;
    width: 190px;
    position: absolute;
    margin-top: -87px;
    margin-left: -65px;
  }
  .descricao {
    overflow: auto;
    height: 150px;
  }

  .comentario {
    overflow: auto;
    height: 150px;
  }